{{ define "title" }}Personal Timeline{{ end }}

{{ define "content" }}


{{if .sameUser}}

<h2>My Timeline</h2>
{{else }}
<h2>{{.username}}'s Timeline</h2>
{{end}}

{{if .loggedin}}
  {{if .visit}}
  <div class=followstatus>
      {{if .sameUser}} 
        This is you!
      {{else if .alreadyFollow}}
        You are currently following this user.
        <a class=unfollow href="{{.username}}/unfollow">Unfollow user</a>.
      {{ else }}
        You are not yet following this user.
        <a class=follow href="{{.username}}/follow">Follow user</a>.
      {{ end }}
    </div>
  {{else}}
  <div class=twitbox>
    <h3>What's on your mind {{ .username}}?</h3>
    <form action="/personaltimeline" method="post">
      <p><input type=text name=text size=60>
      <input type=submit value="Share">
    </form>
  </div>
  {{end}}
{{end}}
     
<ul class=messages>
  {{ if .posts}} 
  {{ range .postSlice }}
  <li><img height="48" width="48" src="https://www.gravatar.com/avatar/04d24379cd970b7670ee66fa203d646f?s=240&r=any&default=identicon&forcedefault=1"><p>
    <strong><a href="/{{.Username}}">{{ .Username}}</a></strong>
    {{ .Text }}
    <small>&mdash; {{ .Date }}</small>
    {{ end }}
    {{else}}
  <li><em>There's no message so far.</em>
  {{ end }}
  </ul>



  </ul>
{{ end }}