<!doctype html>
<title> Welcome | MiniTwit</title>
<link rel=stylesheet type=text/css href="/public/css/minitwit.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
    {{if .loggedin}}
    <a href="/personaltimeline">my timeline</a> |
    <a href="/publictimeline">public timeline</a> |
    <a href="/signout">sign out</a>
    {{else}}
    <a href="/publictimeline">public timeline</a> |
    <a href="/signup">sign up</a> |
    <a href="/signin">sign in</a>
    {{end}}
  </div>
  <div class=body>
    {{ template "content" . }}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Flask Application
  </div>
</div>
